.error {
    color: #ffb3b3;
}

.success {
    color: #00FFFF;
}

.form {
    display: grid;
    grid-template-columns: 80%;
    gap: 10px;
    justify-content: center;
    min-width: 70vw;
}

.form > * {
    padding: 10px;
}

.signUpForm {
    display: grid;
    grid-template-columns: 80% auto;
    gap: 10px;
    justify-content: center;
    min-width: 70vw;
}

.signUpForm > * {
    padding: 10px;
}

.signUpForm > button {
    grid-column: 1/span 2;
}

.link {
    color: #00FFFF;
}

.link:hover {
    font-weight: bold;
}
