.infoIcon {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

.infoBubble {
    visibility: hidden;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    color: #000;
    background-color: #EEE;
    min-width: 200px;
    padding: 2px;
    position: absolute;
    right: 25px;
    top: 5px;
}

.infoIcon:hover .infoBubble {
    visibility: visible;
}
