<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nathan Trowers">
    <meta name="keywords" content="Study, Log, StudyLog">
    <meta name="description " content="Create/Record Session page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyLog</title>
</head>

<body>

    <form action="http://localhost:3000/process_get2" method="POST">
        <fieldset>
            <legend>Record a Study Session</legend>
            Session Name<input type="text" name="sessionName" placeholder="Session Name">
            <br>Topics Covered<input type="text" name="topicsCovered" placeholder="Topics Covered">
            <br>Rated Understanding<input type="text" name="ratedUnderstanding" placeholder="Rated Understanding">
            <br>Start Time<input type="text" name="startTime" placeholder="Start Time">
            <br>End Time<input type="text" name="endTime" placeholder="End Time">
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>

</html>