@keyframes deleteButtonHighlight {
    0% {background-image: linear-gradient(#2E8B57, #2E8B57);}
    25% {background-image: linear-gradient(#2E8B57, #2E8B57 #FF8C00);}
    50% {background-image: linear-gradient(#2E8B57, #FF8C00);}
    75% {background-image: linear-gradient(#2E8B57, #FF8C00, #FF8C00);}
    100% {background-image: linear-gradient(#FF8C00, #FF8C00);}
  }
  
  @keyframes undoDeleteButtonHighlight {
    0% {background-image: linear-gradient(#FF8C00, #FF8C00);}
    25% {background-image: linear-gradient(#2E8B57, #FF8C00, #FF8C00);}
    50% {background-image: linear-gradient(#2E8B57, #FF8C00);}
    75% {background-image: linear-gradient(#2E8B57, #2E8B57 #FF8C00);}
    100% {background-image: linear-gradient(#2E8B57, #2E8B57);}
  }

.logCard {
    background-color: #71dda0;
    color: #000;
    font-size: 16px;
    margin: 2px;
    box-shadow: 0 3px 3px 3px #444;
}

.logCard:hover {
    box-shadow: 0 3px 3px 3px #96f0bd;
}

.deleteButton {
    background-image: linear-gradient(#2E8B57, #2E8B57);
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid #FF8C00;
    min-height: 40px;
    min-width: 80px;
    border-radius: 4px;
    animation-name: undoDeleteButtonHighlight;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.deleteButton:hover {
    background-image: linear-gradient(#FF8C00, #FF8C00);
    color: #000;
    animation-name: deleteButtonHighlight;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.confirmDeleteButton {
    border: 2px solid #FFE2B6;
    box-shadow: 0px 3px 10px 2px #FFD9B6, 0px -3px 10px #FFD9B6;
    outline:none;
}

.buttonContainer {
    display: flex;
    flex-flow: row wrap;
    min-width: 40vw;
    justify-content: center;
    align-items: stretch;
}

#logContainer {
    display: flex;
    flex-flow: column wrap;
    min-width: 40vw;
    align-items: center;
    padding-bottom: 10px;
}

#logContainer > .button {
    margin: 10px;
    max-width: 80%;
}

#newLogForm {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto/7;
    gap: 10px;
    justify-content: center;
    max-width: 70vw;
    height: auto;
    margin: 5vw;
}

#newLogForm > * {
    padding: 10px;
}

#newLogForm > button {
    grid-column: 1/span 2;
}

.ratingBox > input {
    width: 2vw;
    height:3vh;
}

.ratingBox > input::placeholder {
    font-size:2vh;
}

#newLogForm > input:disabled {
    background-color: #fff;
    color: #000;
}

#updateLogForm {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto/4;
    gap: 10px;
    justify-content: center;
    max-width: 70vw;
    height: auto;
    margin: 5vw;
}

#updateLogForm > * {
    padding: 10px;
}

#updateLogForm > button {
    grid-column: 1/span 2;
}
