.logCard {
    background-color: #71dda0;
    color: #000;
    font-size: 16px;
    margin: 2px;
    box-shadow: 0 3px 3px 3px #444;
}

.logCard:hover {
    box-shadow: 0 3px 3px 3px #96f0bd;

}

#logContainer {
    display: flex;
    flex-flow: column wrap;
    min-width: 40vw;
    align-items: center;
}

#logContainer > .button {
    margin: 10px;
    max-width: 80%;
}
